[alias]
  co = checkout
  ci = commit
  st = status
  br = branch
  hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
  type = cat-file -t
  dump = cat-file -p
  commend = commit --amend
  compush = commit --amend --no-edit && git push -f
[core]
  excludesFile = ~/.gitignore_global
  editor = vim
[user]
  email = {{ username }}@dns-shop.ru
  name = {{ username }}
